$coda: Coda, 'Lucida Grande', 'Helvetica Neue', Helvetica, Roboto, Geneva, Arial, sans-serif;
$bg-color: #222;
$font-color: white;
$body-font-family: $coda;
$body-bg: $bg-color;
$body-font-color: $font-color;
$form-label-font-color: $font-color;
$input-bg-color: $bg-color;
$input-focus-bg-color: $input-bg-color;
$input-font-color: $font-color;
$select-bg-color: $bg-color;
